@import './variables';
@import './methods';

body {
    background-color: $body_bg;
    @include flexCenter();
    flex-direction: column;
}

.main_div {
    background-color: white;
    height: 800%;
    width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    .sub_dvis{
       @include align_center();
        background-color: $line_bg;
        border-radius: 10px;
        height: 7px;
        width: 70%;
        margin: 20px;
        padding: 20px;

    }
    .sub_dvis_circle{
        @include align_center();
        background-color: $line_bg;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin: 20px;
        padding: 20px;

    }
}
